<h1>
	This is the about page
</h1>

<ul>
  <li>Address: 1234 Some Street Name, City, State, Zip</li>
  <br>
  <li>Phone Number: (123) 456-7890</li>
  <br>
  <li>Email: Example@email.com</li>
</ul>



<%= link_to 'Home', welcome_home_path %>